body{
    padding: 0;
    margin: 0;
}

.container{
    background-color: burlywood;
    padding: 10px;
}
.box{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    line-height: 50px;
}

.static{
 background-color:red;
}
.relative{
 background-color: green;
 /* position: relative; */
 /* top: 80px; */
}
.absoute{
background-color: blue;
/* position: absolute;
left: 30px; */

}
.sticky{
 background-color: purple;
 /* position: sticky;
 top: 10px; */
}
.fixed{
 background-color: yellow;
 /* position: fixed;
 top: 0px; */
}

.float{
    background-color: darkgray;
    width: 100%;
    padding: 10px;
    display: flow-root;
}

.floatChild{
    width: 120px;
    height: 120px;
    float: left;
    background-image: url('../IMAGES/stone.jpg');
    background-size: cover;
}

.mydiscription{
    clear: left;
}